In [3]:
import numpy as np
from PIL import Image
import os

#Check if the file exist before trying to open it
if os.path.exists("image.jpg"):
    # Open the image
    im = Image.open("image.jpg")

    # Convert the image to a numpy array
    im_arr = np.array(im)

    # Find the minimum and maximum intensity values
    min_intensity = np.min(im_arr)
    max_intensity = np.max(im_arr)

    # Normalize the image
    im_norm = (im_arr - min_intensity) / (max_intensity - min_intensity) * 255

    # Convert the normalized image back to an image object
    im_norm = Image.fromarray(im_norm)

    # Save the normalized image
    im_norm.save("image_norm.jpg")
else:
    print("The file image.jpg does not exist.")

The file image.jpg does not exist.

In [4]:
from sklearn import preprocessing
import numpy as np
x_array = np.array([2,3,5,6,7,4,8,7,6])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.11785113 0.1767767  0.29462783 0.35355339 0.41247896 0.23570226
  0.47140452 0.41247896 0.35355339]]

In [5]:
from sklearn import preprocessing
import numpy as np
x_array = np.array([2,3,5,6,7,4,8,7,6])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.11785113 0.1767767  0.29462783 0.35355339 0.41247896 0.23570226
  0.47140452 0.41247896 0.35355339]]

In [6]:
import pandas as pd
housing = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [7]:
from sklearn import preprocessing
x_array = np.array(housing['total_bedrooms'])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.01437454 0.02129852 0.00194947 ... 0.00594924 0.00618453 0.00336115]]

In [10]:
from sklearn import preprocessing
import pandas as pd
housing = pd.read_csv("/content/sample_data/california_housing_train.csv")
scaler = preprocessing.MinMaxScaler()
names = housing.columns
d = scaler.fit_transform(housing)
scaled_df = pd.DataFrame(d, columns=names)
scaled_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,1.000000,0.175345,0.274510,0.147885,0.198945,0.028364,0.077454,0.068530,0.107012
1,0.984064,0.197662,0.352941,0.201608,0.294848,0.031559,0.075974,0.091040,0.134228
2,0.975100,0.122210,0.313725,0.018927,0.026847,0.009249,0.019076,0.079378,0.145775
3,0.974104,0.116897,0.254902,0.039515,0.052142,0.014350,0.037000,0.185639,0.120414
4,0.974104,0.109458,0.372549,0.038276,0.050435,0.017405,0.042921,0.098281,0.104125

In [11]:
from sklearn import preprocessing
import pandas as pd
housing = pd.read_csv("/content/sample_data/california_housing_train.csv")
scaler = preprocessing.MinMaxScaler(feature_range=(0, 2))
names = housing.columns
d = scaler.fit_transform(housing)
scaled_df = pd.DataFrame(d, columns=names)
scaled_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,2.000000,0.350691,0.549020,0.295769,0.397890,0.056728,0.154909,0.137060,0.214024
1,1.968127,0.395324,0.705882,0.403216,0.589696,0.063118,0.151949,0.182080,0.268457
2,1.950199,0.244421,0.627451,0.037854,0.053693,0.018498,0.038152,0.158756,0.291549
3,1.948207,0.233794,0.509804,0.079030,0.104283,0.028700,0.074001,0.371278,0.240828
4,1.948207,0.218916,0.745098,0.076552,0.100869,0.034810,0.085841,0.196563,0.208251